<h2>Hello World!</h2>

<p>
  Welcome to my first Ruby_on_Rails project. This is page is a test of my understanding to the new skill.
</p>

<table>
  <%= link_to 'Back to Topics', topics_path %>
</table>
